<% if @post.errors.any? %>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>
<%= p.collection_select(:category_id, Category.all, :id, :name) %>
<%= p.label :name, 'Name' %>
<%= p.text_field :name %>
<%= p.label :description, 'description' %>
<%= p.text_area :description %>
<%= p.submit %>