<h1>SOS POST</h1>
<ul>
	<% @posts.each do |p| %>
	<li>
		<%= link_to p.name ,post_path(p)%>
		<%= p.created_at %>
		<% if current_user == p.user %>
		<%= link_to 'edit',edit_post_path(p,:id=>p.id) %>
		<%= link_to 'delete',post_path(p,:id=>p.id),:method=>:delete %>
		<% end %>
	</li>
	<% end %>
</ul>

<%= link_to'new post',new_post_path %>
